@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-VariableFont_wght.woff2') format('woff2'); 
    font-weight: 300 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-main: 'Quicksand', sans-serif;
    --primary: #724c18;

}

#content {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 12vh;
    position: relative;
}

#display-area {
    position: relative;
    width: 100%;
}

body {
    font-family: var(--font-main);
}

.nav-btn {
    cursor: pointer;
    font: var(--font-main);
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0px 30px;
    color: #323232;
}
.nav-btn:hover {
    color: var(--primary);
}


#nav {
    display: flex;
    /* gap: 10px; */
}

#headline {
    margin-left: 40px;
    font-size: 4.5rem;
    color: #704e1f;
}

.background-body {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.hero-title {
    position: relative;
    left: 60px;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.1;
    color: #323232;
    top: 150px;
}

.accent {
    color: #7A5C33; 
    /* background: linear-gradient(to right, #323232, #AD8B58); */
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent;
    color: transparent; */
}




/* menu.js */
#menu-container {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background-color: #f5f5f5; 
    border-radius: 30px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    min-height: 150px;
}

.item-left-panel {
    background-color: #4b5a52af; 
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item-icon-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-right-content {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
}

.item-name {
    font-size: 1.8rem;
    color: #323232;
    font-weight: 700;
}

.item-price {
    font-size: 1.5rem;
    color: #323232;
    font-weight: 700;
}

.item-description {
    color: #666;
    line-height: 1.5;
    font-size: 1.1rem;
}


/* about.js */
#about-container {
    position: relative;
    top: 50px;
    margin: 0 auto 50px auto;
    width: 85%;
    max-width: 800px;
    background-color: #f5f5f5c7;
    border-radius: 40px;
    padding: 60px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.about-title {
    font-size: 2.5rem;
    color: #323232;
    margin-bottom: 30px;
    font-weight: 700;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
    text-align: center;
    max-width: 90%; 
}

.about-image-wrapper {
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.story-image {
    width: 100%;
    display: block;
    object-fit: cover;
}


/* contact.js */
#contact-container {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 60%; 
    max-width: 600px;
    background-color: #f5f5f5c9;
    border-radius: 40px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    gap: 30px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.contact-title {
    font-size: 2.5rem;
    color: #323232;
    font-weight: 700;
}

.contact-info-block {
    text-align: center;
    /* border: 1px solid red; */
}

.contact-label {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #a15f03;
    margin-bottom: 5px;
}

.contact-detail {
    font-size: 1.3rem;
    color: #323232;
    font-weight: 500;
}




